<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	</head>
    <title>Welcome</title>
</head>
<body>
    <nav>
        <% if (user) { %>
              success! Signed in<br><br>
              <h2>Your Trips:</h2><br>

              <title>Flight List</title>
                <table class="table">
                <thead>
                    <tr>
                    <th>Car Type</th>
                    <th>Pickup City</th>
                    <th>Pickup Address</th>
                    <th>Trip Date</th>
                    <th>Trip Details</th>
                    <th>Delete Trip Information</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Write the line of EJS to iterate over taxis using forEach -->
                    <% taxis.forEach(function(t) { 
                    let today = new Date()
                    let tripDate = t.departs
                    if (today > tripDate){
                    %>
                    <tr>
                        <td><%= t.carType %></td>
                        <td><%= t.pickupCity %></td>
                        <td><%= t.pickupAddy %></td>
                        <td><%= t.departs %></td>
                        <td><a href="/taxi/<%= t._id %>">DETAILS</a></td>
                        <td>
                            <form action="/taxi/<%= t._id %>?_method=DELETE" method="POST" id="deleteTrip">
                            <button type="submit" form="deleteTrip">DELETE</button>
                            </form>
                        </td>
                    </tr>
                <% } else { %>
                    <td><%= t.carType %></td>
                    <td><%= t.pickupCity %></td>
                                <td><%= t.pickupAddy %></td>
                                <td>
                                    <%= t.departs %>
                                </td>
                                <td><a href="/taxi/<%= t._id %>">DETAILS</a></td>
                                <td>
                                    <form action="/taxi/<%= t.id %>?_method=DELETE" method="POST" class="delete">
                                    <button type="submit">DELETE</button>
                                    </form>
                                </td>
                            </tr>
                        <% }}); %>
                </tbody>
                </table>
              <button><a href="/taxi/new">Add Taxi</a></button><br><br>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" id="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
</body>
</html>