<%- include('../partials/userHeader') %>
            
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Rider Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Your Account</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">New Ride</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="/taxi/new">Request New Ride</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Ride History
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Car</th>
                                            <th>Pickup City</th>
                                            <th>Pickup Address</th>
                                            <th>Pickup Time</th>
                                            <th>Delete Trip</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Car</th>
                                            <th>Pickup City</th>
                                            <th>Pickup Address</th>
                                            <th>Pickup Time</th>
                                            <th>Delete Trip</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% taxis.forEach(function(t) { %>
                                        <tr>
                                            <td><a href="/taxi/<%= t._id %>"><%= t.userName %></a></td>
                                            <td><a href="/taxi/<%= t._id %>"><%= t.carType %></a></td>
                                            <td><a href="/taxi/<%= t._id %>"><%= t.pickupCity %></a></td>
                                            <td><a href="/taxi/<%= t._id %>"><%= t.pickupAddy %></a></td>
                                            <td><a href="/taxi/<%= t._id %>"><%= t.departs %></a></td>
                                            <td>
                                                <form action="/taxi/<%= t._id %>?_method=DELETE" method="POST" id="deleteTrip">
                                                <button type="submit" form="deleteTrip">DELETE</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                
        <%- include('../partials/footer') %>