<%- include('../partials/userHeader') %>

        <div class="currentTaxi">
          <div id="rideDetail">
            <h2>Rider Name: </h2>
            <p><%= taxi.userName %></p>
            <h2>Type of Car: </h2>
            <p><%= taxi.carType %></p>
            <h2>Pickup Address: </h2>
            <p><%= taxi.pickupAddy %><br>
               <%= taxi.pickupCity %>, Ga </p>
            <!-- <th>User Email:</th>
            <th>Type of Car</th>
            <th>Pickup Address</th>
            <th>Pickup City</th>
            <th>Time of Trip</th>
                
            <td><%= taxi.userName %></td>
            <td><%= taxi.userEmail %></td>
            <td><%= taxi.carType %></td>
            <td><%= taxi.pickupAddy %></td>
            <td><%= taxi.pickupCity %></td>
            <td><%= taxi.departs %></td> -->
            <a href="/taxi/<%= taxi._id %>/update">Edit Trip</a>
          </div>
          <div id="passengerInfo">
            <% if (taxi.destinations.length) { %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Dropoff Address</th>
                    <th>Dropoff City</th>
                  </tr>
                </thead>
                <tbody>
                  <% taxi.destinations.forEach(function(d) { %>
                    <tr>
                      <td><%= d.destAddy %></td>
                      <td><%= d.destinationCity %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            <% } else { %>
              <h5>No Destination Information Yet</h5>
              <div class="destTaxi">
                <form id="desination" method="POST" action="/taxi/<%= taxi._id %>/destinations">
                <label>Destination Airport:</label>
                <select id="destinationCity" name="destinationCity" tabindex="4">   
                  <option value="ATL" selected>ATL</option>
                  <option value="Macon">Macon</option>
                  <option value="Marietta">Marietta</option>
                  <option value="Decatur">Decatur</option>
                  <option value="Riverdale">Riverdale</option>
                </select>
                <label>Dropoff Address
                    <input type="text" name="destAddy">
                </label>
                <input type="submit" value="Add Destination">
                </form>
              </div>
            <% } %>
            <% if (passengers.length) { %>
              <h2>Passengers:</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th>Seats</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <% passengers.forEach(function(p) { %>
                    <tr>
                      <td><%= p.noOfSeats %></td>
                      <td>$<%= p.cost %></td>
                    <td>
                    <form action="/passengers/<%= p._id %>?_method=DELETE" method="POST">
                      <input id="delete-passenger" type="submit" name="" value="Delete Passenger"> 
                    </form>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table> <br>
            <% } else { %>
              <h3>No Passenger Information Availiable</h3> <br>
              <button><a href="/taxi/<%= taxi._id %>/passengers/new">Add Passengers</a></button>
            <% } %>
          </div>
        </div>

<%- include('../partials/footer') %>

